<!DOCTYPE html>
<html>
<head>
    <title>Pages des annonces</title>
</head>
<body>
<h1>Annonces</h1>

<h2>Listes des annonces</h2>
<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
        </li>
    {% endfor %}
</ul>
</body>
</html>

